@model Renesis.Models.LoginModel
<section id="loginForm">
@using (Html.BeginForm(new { ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Login</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RememberMe)
            @Html.CheckBoxFor(m => m.RememberMe)
        </div>
           <input type="submit" value="Login" class="btn btn-primary"/>
</fieldset>
}
</section>
